.image-container {
  display: inline-block;
  max-width: 800px;
  max-height: 600px;
  margin: 4px;
}

.image-container ion-img {
  width: initial;
}

.image-container ion-img.image {
  max-width: 100%;
  max-height: 100%;
}
